/* This file contains the following subsections: */
/* 1. GENERAL */
/* 2. INDEX PAGE */
/* 3. GAMES */
/* 3A. MODALS */
/* 3B. MENU */
/* 4. ARCADE SPECIFIC */

/* 1. GENERAL */
/* Set the position, scrolling behavior, font and background-color of the body */
html, body{
	position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: none;		/* no scrolling by default*/
	background-color: black;
	font-family: 'Calibri', sans-serif;
	color: white;
}


/* 2. INDEX PAGE */
/* Create a background image (gradient) on the index page */
#indexPage{
	height: 100vh;
	background-image: linear-gradient(0deg, #000000, #181818, #000000);
}

/* Center-align the text in the welcome element*/
.welcome{
	text-align: center;
}

/* Set the position, size, font and color of the text in the title of the index page*/
 #titleText{
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	background: #282828;
	border-radius: 25px;
	margin-top: 5%;
	font-size: 50px;
	position: relative;
	box-shadow: 3px 10px 1px 1px #101010;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
 }

/* Set the position, size, font and color of the text in the title of the index page*/
 #welcomeText{
	background: #282828;
	border-radius: 25px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
	width: 70%;
	font-size: 30px;
	position: relative;
	box-shadow: 3px 10px 1px 1px #101010;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
 }
 
/* Center-align the buttons in the buttonContainer element */
 .buttonContainer { 
	text-align: center;
	margin-left: 50%;
	margin-right: 50%;
}

/* Set the color, size, position, margin and padding of the buttons on the index page */
 .indexButton {
 	text-decoration: none;
	position: absolute;
	background: #282828;
	border-radius: 25px;
	width: 180px;
	padding: 20px 20px;
	cursor: pointer;
	color: white;
	font-size: 30px;
	box-shadow: 3px 10px 1px 1px #101010;
	
	-moz-transform: translate(-50%, -50%); 		/* ensure that the middle of the button is in the middle of the page in different browsers */
	-ms-transform: translate(-50%, -50%); 		/* ensure that the middle of the button is in the middle of the page in different browsers */
	-webkit-transform: translate(-50%, -50%); 	/* ensure that the middle of the button is in the middle of the page in different browsers */
	transform: translate(-50%, -50%);	 		/* ensure that the middle of the button is in the middle of the page */
 }
 
 /* If an index button is hovered, the background becomes lighter */
 .indexButton:hover {
	background: #333333;
}

/* Create two separate animations for the buttons, so that they float asynchronous*/
/* First animation (classic button) */
@keyframes floating {
	0% {
		margin-top: 0%;
	}
	50% {
		margin-top: 0.5%;
	}
	
	100%	{
		margin-top: 0%;
	}
}

/* Second animation (arcade button) */
@keyframes floating1 {
	10% {
		margin-top: 0%;
	}
	
	60% {
		margin-top: 0.5%;
	}
	
	100%	{
		margin-top: 0%;
	}
}

/* Set the specific position of the classic button and set the animation for this button */
#buttonClassic{
	top: 500px;

	-moz-animation: floating 1.5s infinite ease-in-out; 		/* Ensure that the animation runs in different browsers */
	-webkit-animation: floating 1.5s infinite ease-in-out; 		/* Ensure that the animation runs in different browsers */
	animation: floating 1.5s infinite ease-in-out;
}

/* Set the specific position of the arcade button and set the animation for this button */
#buttonArcade{
	top: 600px;

	-moz-animation: floating1 1.5s infinite ease-in-out; 		/* Ensure that the animation runs in different browsers */
	-webkit-animation: floating1 1.5s infinite ease-in-out;	 	/* Ensure that the animation runs in different browsers */
	animation: floating1 1.5s infinite ease-in-out;
}

/* If the classic button is hovered, stop the animation for this button */
#buttonClassic:hover{
	-moz-transition: background-color 0.5s ease-out; 			/* Ensure that the animation runs in different browsers */
	-webkit-transition: background-color 0.5s ease-out; 		/* Ensure that the animation runs in different browsers */
	transition: background-color 0.5s ease-out;
	animation: none;
}

/* If the classic button is hovered, stop the animation for this button */
#buttonArcade:hover{
	-moz-transition: background-color 0.5s ease-out;			/* Ensure that the animation runs in different browsers */
	-webkit-transition: background-color 0.5s ease-out; 		/* Ensure that the animation runs in different browsers */
	transition: background-color 0.5s ease-out;
	animation: none;
}


/* 3. GAMES */
/* Set the position of the image container, which contains the most important elements of the game */
#imageContainer {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
}

/* Set the position and z-index (0 = baseline) of the key cards */
.card{
	z-index: 0;
	width: 20%;
	height: 35%;
	position: absolute;
	cursor:pointer;
}

/* Set the position and z-index of the play card element */
.playCard{
	z-index: 1;			/*play card is by default on top of key cards*/
	position: absolute;
	right: 0%;
	bottom: 0%
}

/* Set th position of the first card, relative to the image container */
#firstCard {
    left: 0%;
}

/* Set th position of the second card, relative to the image container */
#secondCard {
    left: 27%;
}

/* Set th position of the third card, relative to the image container */
#thirdCard {
    left: 53%;
}

/* Set th position of the fourth card, relative to the image container */
#fourthCard {
    left: 80%;
}

/* 3A. MODALS */
/* Set the position and the color of the background of the modal */
.modal {
	display: none; 			/* Hidden by default */
	position: fixed; 
	z-index: 3; 			/* Almost highest z-index; only menu goes on top */
	padding-top: 100px;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.4);
	height: 70%;
}

/* Set the color, height, margins and padding of the modal content */
.modalContent {
	background: #282828;
	height: 100%;
	border-radius: 25px;
	box-shadow: 3px 10px 10px 1px #101010;
	margin: auto;
	padding: 20px;
	width: 80%;
	text-align:center;
    overflow-y: scroll; 	/* Ensure that the length of the modal is always scrollable */

	/* Run the animation open modal when the modal appears */
	-moz-animation: openModal 0.3s 1; 		/* Ensure that the animation runs in different browsers */
	-webkit-animation: openModal 0.3s 1; 	/* Ensure that the animation runs in different browsers */
	animation: openModal 0.3s 1;
}

/* The animation open modal defines what happens if a modal is opened; it is scaled from 0.7 to 1 and made visible*/
@keyframes openModal {
	0% {
	opacity: 0;
	-moz-transform: scale(0.7);  	/* Ensure that the animation runs in different browsers */
	-ms-transform: scale(0.7);  	/* Ensure that the animation runs in different browsers */
	-webkit-transform: scale(0.7);  /* Ensure that the animation runs in different browsers */
	transform: scale(0.7);
  }
  100% {
	opacity: 1;
	-moz-transform: scale(1);  		/* Ensure that the animation runs in different browsers */
	-ms-transform: scale(1);  		/* Ensure that the animation runs in different browsers */
	-webkit-transform: scale(1);  	/* Ensure that the animation runs in different browsers */
	transform: scale(1);
  }
}

/* Set the font size and alignment of modal text*/
 .modalText{
    overflow: hidden; 		/* Ensure that the length of the modal is never scrollable */
	font-size: 30px;
	text-align: center;
 }
 
/* Set the specific size and margins of the level modal (displayed upon new level) */
#modalContentLevel {
	height: 400px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

/* Set the specific size and margins of the end modal (displayed upon game over)*/
#modalContentEnd {
	height: 400px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

/* Set the specific size and margins of the modal buttons*/
  .modalButton {
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 0%;
	position: relative;
	bottom: 0%;
	background: #282828;
	border-radius: 25px;
	width: 180px;
	padding: 20px 20px;
	cursor: pointer;
	color: white;
	font-size: 30px;
	box-shadow: 3px 10px 1px 1px #101010;
 }
 
 /* Set the background color of modal buttons on hover*/
 .modalButton:hover {
  background: #333333;
 }


/* 3B. MENU */
/* Set the position, color and size of the menu button */
#menuButton{
	position: fixed;
	top: 0px;
    font-size:50px;
    cursor:pointer;
    color:white;
    width:50px;
    height:50px;
}

/* Set the position, size and color of the menu overlay*/
.menuOverlay {
	height: 0%;
	width: 100%;
	position: fixed;
	z-index: 4;				/* Highest z-index; menu is always on top */
	top: 0;
	left: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.9);
	overflow-y: hidden;		/* Length scrolling is not possible by default */
	transition: 0.5s;
}

/* Set the position, size and color of the elemnt that contains the menu content*/
.menuContent {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

/* Set the position, size and color of the a element in the menu overlay*/
.menuOverlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

/* Set the position, size and color of the b element in the menu overlay*/
.menuOverlay b {
	padding: 8px;
	text-decoration: none;
	font-size: 44px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

/* If menu buttons are hovered, they become lighter */
.menuOverlay a:hover {
	color: #f1f1f1;
}

/* Set the position and size of the closebutton element in the menu overlay*/
.menuOverlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
}


/* 4. ARCADE SPECIFIC */
/* Set the position and size of the show score element in arcade games */
#showScore {
    text-align: left;
	position: absolute;
	left: 0%;
	bottom: 0%;
	font-size: 30px;
}

/* Set the position and size of the show timing element in arcade games*/
#showTiming {
	position: absolute;
	left: 0%;
    bottom: 120px;
	font-size: 30px;
    color: red;
}

